@model MDM_Portal.Models.HCPDetailsModel

@{ Layout = null; }

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Customer Master Portal</title>

    <!-- Font Awesome -->
    @Styles.Render("~/Content/vendor/fontawesome-free/css/all.min.css")
    <!-- Select2 -->
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css")
    <!-- DataTable -->
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")
    <!-- Notify CSS -->
    @Styles.Render("https://www.jqueryscript.net/demo/Simple-Flexible-jQuery-Alert-Notification-Plugin-notify-js/css/notify.css")
    @Styles.Render("https://www.jqueryscript.net/demo/Simple-Flexible-jQuery-Alert-Notification-Plugin-notify-js/css/prettify.css")
    @Styles.Render("https://cdn.jsdelivr.net/npm/protip@1.4.21/protip.min.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    <!-- Custom -->
    @Styles.Render("~/Content/css/sb-admin.css")
    @Styles.Render("~/Content/css/customer-profile.css")
    @Styles.Render("~/Content/css/timeline.css")
</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="~/Home/Overview"><img src="~/Content/images/prahs logo.png" width="30" /> Customer Master Portal</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                @if (Session != null && Session["username"].ToString() != "")
                {<div id="welcome-user">Welcome, @Session["username"]</div>}
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item btn-my-profile" href="~/Home/MyProfile">View Profile</a>
                    @if (Session != null && Session["role"].ToString() != "" && Session["role"].Equals("Admin"))
                    {
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Administration <i class="fas fa-user-cog"></i></h6>
                        <a class="dropdown-item btn-register" href="~/Home/Register">Register Account</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item btn-my-profile-logout" href="~/Home/Logout" data-toggle="modal" data-target="#logoutModal">Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">
        <div class="loader">Loading...</div>

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Overview">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Overview</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Customers">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="nav-item" id="accounts-sidebar">
                <a class="nav-link" href="~/Home/Accounts">
                    <i class="fas fa-fw fa-hospital-alt"></i>
                    <span>Accounts</span>
                </a>
            </li>
            <li class="nav-item" id="stewardship-sidebar">
                <a class="nav-link" href="~/Home/Stewardship">
                    <i class="fas fa-fw fa-exchange-alt"></i>
                    <span>Stewardship</span>
                </a>
            </li>
            @if (!Session["email"].ToString().Contains("prahs"))
            {
                <li class="nav-item">
                    <a class="nav-link link-mr-hcps" href="~/Home/ChangeRequests">
                        <i class="fas fa-fw fa-th-list"></i>
                        <span>Change Requests</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Exceptions">
                    <i class="fas fa-fw fa-exclamation-circle"></i>
                    <span>Exceptions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Reports">
                    <i class="fas fa-fw fa-file-contract"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Home/CustomerProfile">
                    <i class="fas fa-fw far fa-id-badge"></i>
                    <span>Customer Profile</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <div class="breadcrumb-nav-container">
                    <ol class="breadcrumb border-bottom border-gray">
                        <li class="breadcrumb-item active">Customer Profile</li>
                    </ol>

                    <div class="col text-right">
                        <button type="button" class="btn btn-link previous-button"><i class="fas fa-angle-double-left"></i> Previous</button>
                    </div>
                </div>

                <!-- Profiler Profile View -->
                <div class="row provider-profile-view">

                    <!-- Hidden input from search page -->
                    <input type="hidden" name="user-object-id" id="user-object-id" value="@ViewBag.param" />
                    <input type="hidden" name="change-request-source" id="change-request-source" value="MDM_Portal" />
                    <input type="hidden" name="change-request-source-primary" id="change-request-source-primary" value="PORTAL_PRIMARY" />

                    <div class="col-lg-5">
                        <!-- Primary Member -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p><i class="fas fa-user-md fa-5x profile-icon"></i></p>
                            <p>
                                <strong id="member-name"></strong>
                                <button class="btn btn-change-request-flag" data-toggle="modal" data-target="#changeRequestModal">
                                    <i class="fas fa-flag fa-2x protip" style="color: orange;" data-pt-position="right" data-pt-title="Click here" data-pt-size="small" data-pt-scheme="dark-transparent"></i>
                                </button>
                            </p>
                        </div>

                        <!-- PROFILE -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">Profile</strong>
                                <button type="button" class="btn btn-link edit-customer-profile" value="edit-customer-profile" data-toggle="modal" data-target="#modalEditCustomerProfile"><i class="fas fa-pencil-alt"></i></button>

                                <a href="#block-id-profile" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-profile">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-profile" class="collapsed-profile" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-profile" class="expanded-profile" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-profile">
                                <div id="div-profile-name">
                                    <p id="profile-name"></p>
                                </div>
                                <div id="div-member-location">
                                    <p id="member-location"></p>
                                </div>
                                <div id="div-specialty">
                                    <p class="specialty"></p>
                                </div>
                                <div id="div-degree">
                                    <p class="degree"></p>
                                </div>
                                <div id="div-member-territory">
                                    <p id="member-territory"></p>
                                </div>
                                <div id="div-member-email">
                                    <p id="member-email"></p>
                                </div>
                                <div id="div-member-telephone">
                                    <p id="member-telephone"></p>
                                </div>
                                <div id="div-member-website">
                                    <p id="member-website"></p>
                                </div>
                                <div id="div-customer-data-object">
                                    <div id="customer-data-object"></div>
                                </div>
                                <div id="div-member-target">
                                    <p id="member-target"></p>
                                </div>
                                <div id="div-member-status">
                                    <p id="member-status"></p>
                                </div>
                            </div>
                        </div>

                        <!-- ID'S -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">ID's</strong>
                                @*<i style="color: orange;" class="fas fa-flag flag-ids"></i>*@

                                <a href="#block-id-info" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-info">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-info" class="collapsed-info" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-info" class="expanded-info" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-info">
                                <p id="member-client-id"></p>
                                <p id="member-ids"></p>
                            </div>
                        </div>

                        <!-- OTHER NAMES -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">Also known as</strong>

                                <a href="#block-id-pm" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-pm">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-pm" class="collapsed-pm" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-pm" class="expanded-pm" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-pm">
                                <p id="related-member-name"></p>
                                <p id="related-memer-address"></p>
                                <p id="related-member-specialty"></p>
                            </div>
                        </div>

                        <!-- SOURCES -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <a href="#block-id-pm-sources" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-pm-sources">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-pm-sources" class="collapsed-pm-sources" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-pm-sources" class="expanded-pm-sources" />
                                </a>

                                <strong class="subtitle fancy">Sources</strong>
                            <p>Click on source to view the record.</p>
                            </p>

                            <div class="collapse show" id="block-id-pm-sources">
                                <p id="member-sources"></p>

                                <p id="member-sources-modal">
                                    <div id="hidden-input-for-modal-sources"></div>
                                </p>
                            </div>
                        </div>

                        <!-- CO-LOCATED -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">Other physicians at this location</strong>

                                <a href="#block-id-pm-co-location" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-pm-co-location">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-pm-co-location" class="collapsed-pm-co-location" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-pm-co-location" class="expanded-pm-co-location" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-pm-co-location">
                                <p id="member-co-location" class="scrollbar-ripe-malinka"></p>
                            </div>
                        </div>

                        <!-- AFFILIATED HCOs -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">List of the affiliated HCOs</strong>

                                <a href="#block-id-affiliated-hcos" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-affiliated-hcos">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-affiliated-hcos" class="collapsed-affiliated-hcos" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-affiliated-hcos" class="expanded-affiliated-hcos" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-affiliated-hcos">
                                <p id="affiliated-hcos" class="scrollbar-ripe-malinka"></p>
                            </div>
                        </div>

                        <!-- AFFILIATION -->
                        <div class="align-items-center p-3 my-3 bg-white rounded shadow-sm">
                            <p>
                                <strong class="subtitle fancy">Known addresses</strong>
                                @*<button type="button" class="btn btn-link edit-customer-known-address" value="edit-customer-known-address" data-toggle="modal" data-target="#modalEditCustomerKnownAddress"><i class="fas fa-pencil-alt"></i></button>*@

                                <a href="#block-id-affiliation" data-toggle="collapse" aria-expanded="true" aria-controls="block-id-affiliation">
                                    <img src="~/Content/images/arrow-down.png" id="arrow-down-affiliation" class="collapsed-affiliation" />
                                    <img src="~/Content/images/arrow-up.png" id="arrow-up-affiliation" class="expanded-affiliation" />
                                </a>
                            </p>

                            <div class="collapse show" id="block-id-affiliation">
                                <p id="affiliation"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Timeline -->
                    <div class="col-lg-7">
                        <div class="mb-3">
                            <ul class="timeline"></ul>
                        </div>
                    </div>
                </div>

                <!-- Provider History View -->
                <div class="row provider-history-view"></div>
            </div>

        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded page-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-logout" href="~/Home/Logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit Customer Profile -->
        <div class="modal fade" id="modalEditCustomerProfile" tabindex="-1" role="dialog" aria-labelledby="modalEditCustomerProfile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-update-customer-profile">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-fname">First Name</label>
                                    <input type="text" class="form-control" id="customer-profile-fname" placeholder="First Name">
                                    <p><small class="required-fname">First Name is required.</small></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-mname">Middle Name</label>
                                    <input type="text" class="form-control" id="customer-profile-mname" placeholder="Middle Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-lname">Last Name</label>
                                    <input type="text" class="form-control" id="customer-profile-lname" placeholder="Last Name">
                                    <p><small class="required-lname">Last Name is required.</small></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-profile-addressline1">Address Line 1</label>
                                    <input type="text" class="form-control" id="customer-profile-addressline1" placeholder="Address Line 1">
                                    <p><small class="required-addressline1">Address Line 1 is required.</small></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-profile-addressline2">Address Line 2</label>
                                    <input type="text" class="form-control" id="customer-profile-addressline2" placeholder="Address Line 2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-city">City</label>
                                    <input type="text" class="form-control" id="customer-profile-city" placeholder="City">
                                    <p><small class="required-city">City is required.</small></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-state">State</label>
                                    <select id="customer-profile-state" class="form-control">
                                        <option value="" selected>Select a State</option>
                                    </select>
                                    <p><small class="required-state">State is required.</small></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-profile-zipcode">Zip Code</label>
                                    <input type="text" class="form-control" id="customer-profile-zipcode" placeholder="Zip Code">
                                    <p><small class="required-zipcode">Zip Code is required.</small></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkMarkPrimaryAddress">
                                        <label class="form-check-label" for="checkMarkPrimaryAddress">
                                            Mark as primary address (<span style="color:red;">If not selected, the new address will be added as a known address</span>)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-profile-specialty">Specialty</label>
                                    <select id="customer-profile-specialty" class="form-control">
                                        <option selected>Select a Specialty</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-npi">NPI</label>
                                    <input type="text" class="form-control" id="customer-ids-npi" placeholder="NPI">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-ama">AMA</label>
                                    <input type="text" class="form-control" id="customer-ids-ama" placeholder="AMA"> <!-- ME_ID -->
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-dea">DEA</label>
                                    <input type="text" class="form-control" id="customer-ids-dea" placeholder="DEA">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-aoa">AOA</label>
                                    <input type="text" class="form-control" id="customer-ids-aoa" placeholder="AOA">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-ada">ADA</label>
                                    <input type="text" class="form-control" id="customer-ids-ada" placeholder="ADA">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-aapa">AAPA</label>
                                    <input type="text" class="form-control" id="customer-ids-aapa" placeholder="AAPA">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-acnm">ACNM</label>
                                    <input type="text" class="form-control" id="customer-ids-acnm" placeholder="ACNM">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-mschst">MSCHST</label>
                                    <input type="text" class="form-control" id="customer-ids-mschst" placeholder="MSCHST">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-aopa">AOPA</label>
                                    <input type="text" class="form-control" id="customer-ids-aopa" placeholder="AOPA">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-medicaid">Medicaid</label>
                                    <input type="text" class="form-control" id="customer-ids-medicaid" placeholder="Medicaid">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-upin">UPIN</label>
                                    <input type="text" class="form-control" id="customer-ids-upin" placeholder="UPIN">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-ids-fed-tax">Fed Tax</label>
                                    <input type="text" class="form-control" id="customer-ids-fed-tax" placeholder="Fed Tax">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save-change-customer-profile" disabled>Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Display all change request for a specific record -->
        <div class="modal fade" id="changeRequestModal" tabindex="-1" aria-labelledby="changeRequestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeRequestModalLabel">Change Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm" clientidmode="Static" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">Value</th>
                                    <th scope="col">Current</th>
                                    <th scope="col">Change</th>
                                    <th scope="col">Request Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit Customer Known Address -->
        <div class="modal fade" id="modalEditCustomerKnownAddress" tabindex="-1" role="dialog" aria-labelledby="modalEditCustomerKnownAddress" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Known Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-update-customer-known-address">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="customer-known-address-addressline1">Address Line 1</label>
                                    <input type="text" class="form-control div-known-address" id="customer-known-address-addressline1" placeholder="Address Line 1">
                                    <p><small class="required-known-address-addressline1">Address Line 1 is required.</small></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="customer-known-address-addressline2">Address Line 2</label>
                                    <input type="text" class="form-control div-known-address" id="customer-known-address-addressline2" placeholder="Address Line 2">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="customer-known-address-city">City</label>
                                    <input type="text" class="form-control div-known-address" id="customer-known-address-city" placeholder="City">
                                    <p><small class="required-known-address-city">City is required.</small></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-known-address-state">State</label>
                                    <select id="customer-known-address-state" class="form-control div-known-address">
                                        <option value="" selected>Select a State</option>
                                    </select>
                                    <p><small class="required-known-address-state">State is required.</small></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="customer-known-address-zipcode">Zip Code</label>
                                    <input type="text" class="form-control div-known-address" id="customer-known-address-zipcode" placeholder="Zip Code">
                                    <p><small class="required-known-address-zipcode">Zip Code is required.</small></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input div-known-address" type="checkbox" value="" id="checkMarkPrimaryKnownAddress">
                                        <label class="form-check-label" for="checkMarkPrimaryKnownAddress">
                                            Mark as primary address (<span style="color:red;">If not selected, the new address will be added as a known address</span>)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save-change-customer-known-address">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery -->
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<!-- jQuery Easy -->
@Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.min.js")
<!-- Session Timeout -->
@Scripts.Render("~/Content/vendor/Session-Timeout/dist/jquery.userTimeout.js")
<!-- Moment -->
@Scripts.Render("~/Scripts/moment.min.js")
<!-- Bootstrap -->
@Scripts.Render("~/Scripts/bootstrap.min.js")
<!-- Select2 -->
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js")
<!-- Notify JS -->
@Scripts.Render("https://www.jqueryscript.net/demo/Simple-Flexible-jQuery-Alert-Notification-Plugin-notify-js/js/notify.js")
@Scripts.Render("https://www.jqueryscript.net/demo/Simple-Flexible-jQuery-Alert-Notification-Plugin-notify-js/js/prettify.js")
<!-- Tooltip -->
@*@Scripts.Render("//min.gitcdn.xyz/repo/wintercounter/Protip/master/protip.min.js")*@
@*@Scripts.Render("//gitcdn.link/repo/wintercounter/Protip/master/protip.min.js")*@
@Scripts.Render("https://cdn.jsdelivr.net/npm/protip@1.4.21/protip.min.js")
<!-- Datatable -->
@*@Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.js")
@Scripts.Render("https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js")*@
@Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.js")
@Scripts.Render("https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js")
@Scripts.Render("https://cdn.datatables.net/plug-ins/1.10.19/api/fnFilterClear.js")
@Scripts.Render("https://legacy.datatables.net/extras/thirdparty/ColReorderWithResize/ColReorderWithResize.js")

<!-- Custom -->
@Scripts.Render("~/Content/js/sb-admin.min.js")
@Scripts.Render("~/Content/js/pages/customer-profile.js")
@Scripts.Render("~/Content/js/session-timeout.js")