@{ Layout = null; }

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Customer Master Portal</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/vendor/fontawesome-free/css/all.min.css")
    <!-- Custom -->
    @Styles.Render("~/Content/css/sb-admin.css")
    @Styles.Render("~/Content/css/my-profile.css")
</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="~/Home/Overview"><img src="~/Content/images/prahs logo.png" width="30" /> Customer Master Portal</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                @if (Session != null && Session["username"].ToString() != "")
                {<div id="welcome-user">Welcome, @Session["username"]</div>}
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item btn-my-profile" href="~/Home/MyProfile">View Profile</a>
                    @if (Session != null && Session["role"].ToString() != "" && Session["role"].Equals("Admin"))
                    {
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Administration <i class="fas fa-user-cog"></i></h6>
                        <a class="dropdown-item btn-register" href="~/Home/Register">Register Account</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item btn-my-profile-logout" href="~/Home/Logout" data-toggle="modal" data-target="#logoutModal">Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Overview">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Overview</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Customers">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="nav-item" id="accounts-sidebar">
                <a class="nav-link" href="~/Home/Accounts">
                    <i class="fas fa-fw fa-hospital-alt"></i>
                    <span>Accounts</span>
                </a>
            </li>
            <li class="nav-item" id="stewardship-sidebar">
                <a class="nav-link" href="~/Home/Stewardship">
                    <i class="fas fa-fw fa-exchange-alt"></i>
                    <span>Stewardship</span>
                </a>
            </li>
            @if (!Session["email"].ToString().Contains("prahs"))
            {
                <li class="nav-item">
                    <a class="nav-link link-mr-hcps" href="~/Home/ChangeRequests">
                        <i class="fas fa-fw fa-th-list"></i>
                        <span>Change Requests</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Exceptions">
                    <i class="fas fa-fw fa-exclamation-circle"></i>
                    <span>Exceptions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Reports">
                    <i class="fas fa-fw fa-file-contract"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Home/MyProfile">
                    <i class="fas fa-id-card"></i>
                    <span>My Profile</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">My Profile</li>
                </ol>

                <div class="row mt-5">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="row text-center pb-2">
                                    <!-- Form -->
                                    <div class="col-md-12 order-md-1">
                                        <h4 class="mb-3">Information</h4>
                                        <form class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="firstName">First name</label>
                                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" readonly>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="lastName">Last name</label>
                                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" readonly>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="username">Username</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="" readonly>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="email">Email</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="" readonly>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="role">Role</label>
                                                    <input type="text" class="form-control" id="role" name="role" placeholder="" value="" readonly>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="territory">Territory</label>
                                                    <input type="text" class="form-control" id="territory" name="territory" placeholder="" value="" readonly>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="address">Password</label>
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="">
                                            </div>

                                            <div class="mb-3">
                                                <label for="address2">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirm-password" name="confirmpassword" placeholder="Confirm Password" value="">
                                            </div>

                                            <hr class="mb-4">
                                            <button class="btn btn-update-my-profile btn-lg btn-block" type="button">Save Change</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-logout" href="~/Home/Login">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery -->
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<!-- jQuery Easy -->
@Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.min.js")
<!-- Session Timeout -->
@Scripts.Render("~/Content/vendor/Session-Timeout/dist/jquery.userTimeout.js")
<!-- Bootstrap -->
@Scripts.Render("~/Scripts/bootstrap.min.js")
<!-- Nofify -->
@Scripts.Render("~/Content/vendor/notify.js/notify.js")
<!-- Custom -->
@Scripts.Render("~/Content/js/sb-admin.min.js")
@Scripts.Render("~/Content/js/pages/my-profile.js")
@Scripts.Render("~/Content/js/session-timeout.js")